@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
.bg-light{
    background-color: white;
}

.bg-black {
    background-color: #22282f; 
}

#portfolio,
#hero,
#services,
#experiences,
#contact {
    border: 7px solid #22282f;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 20px #22282f;
    margin-top: 20px;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
  }
  
  .row,
  .card {
    background: #c3cad5;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #22282f;
    padding: 20px;
    transition: all .50s ease;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    background: #fff;
    border-radius: 28px;
  }
  .row:hover,
  .card:hover {
    border: 1px solid #22282f;
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
  }

#hero {
    padding-top: 100px;
}

.service-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.experience-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Define the initial state of the sections */
section {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  /* Define the state when the section is visible */
  section.visible {
    opacity: 1;
  }
  



@media (max-width: 767px) {
    .service-box {
        margin-bottom: 30px;
    }
}