@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


.bg-black {
    background-color: #050505; 
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.rounded-image {
  border-radius: 40%;
  
}

.service-box{
  border-radius: 4%;
}
.service-box {
  background-color: #a29bfe;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.nav-link{
  font-weight: bolder;
}

.tig{
  text-align: center;
    margin-bottom: 2rem;
    position: relative;
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    
    border:var(--border);
}

.about-section {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.about-content {
  text-align: center;
  margin-top: 30px;
}

.portfolio-item {
  height: 100%;
}
.portfolio-item .card {
  height: 100%;
}
.portfolio-item .card-img-top {
  height: 200px; /* Set desired height for the image */
  object-fit: cover; /* Ensure the image covers the specified height */
}





@media (max-width: 767px) {
    .service-box {
        margin-bottom: 30px;
    }
}